# Brazilian E-Commerce Public Dataset by Olist (On Going)

##### This project explores and cleans the Olist Brazilian E-Commerce dataset, a large real-world dataset containing customer, order, payment, product, and review information.
##### The goal is to prepare a clean, analysis-ready dataset to study key business questions such as:
##### - Customer behavior and satisfaction
##### - Payment methods and spending patterns
##### - Delivery performance and logistics
##### - Seller and product insights. 

## Steps:
### 1. Installing Kaggle and importing the data set
### 2. Import Libraries
### 3. Download all related data sets
### 4. Clean and explore all data sets before merging
#### - 4.1. Olist Customer Dataset
#### - 4.2. Olist Geolocation Dataset
#### - 4.3. Olist Order Items Dataset
#### - 4.4. Olist Order Payments Dataset
#### - 4.5. Olist Order Reviews Dataset
#### - 4.6. Olist Orders Dataset

## 1. Installing Kaggle and importing the data set

In [4]:
# Install kaggle API
!pip install Kaggle

Requirement already satisfied: Kaggle in /opt/anaconda3/lib/python3.11/site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /opt/anaconda3/lib/python3.11/site-packages (from Kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /opt/anaconda3/lib/python3.11/site-packages (from Kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.11/site-packages (from Kaggle) (2.8.2)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.11/site-packages (from Kaggle) (2.31.0)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.11/site-packages (from Kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /opt/anaconda3/lib/python3.11/site-packages (from Kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /opt/anaconda3/lib/python3.11/site-packages (from Kaggle) (2.0.7)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.11/site-packages (from Kaggle) (4.1.0)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.11/site-packages (from bleach->Kaggle) (23.1)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.11/site-packages (from bleach->Kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /opt/anaconda3/lib/python3.11/site-packages (from python-slugify->Kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests->Kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests->Kaggle) (3.4)

In [5]:
# Verify Kaggle is installed
import kaggle
print ("Kaggle API is installed")

Kaggle API is installed

In [6]:
# list the datasets
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.7.4.2 / client 1.6.17)
ref                                                             title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
ahmeduzaki/global-earthquake-tsunami-risk-assessment-dataset    Global Earthquake-Tsunami Risk Assessment Dataset   16KB  2025-10-01 16:35:53          17801        612  1.0
jaderz/hospital-beds-management                                 Hospital Beds Management                            46KB  2025-10-03 09:21:58          15037        356  1.0
jockeroika/life-style-data                                      Life Style Data                                      4MB  2025-10-14 13:50:45          20717        405  0.8235294
rehan497/students-social-media-addiction                        Students Distraction & Social Media Addiction        8KB  2025-10-21 14:18:17            706         24  1.0
ahmadrazakashif/bmw-worldwide-sales-records-20102024            BMW Worldwide Sales Records (2010‚Äì2024)            833KB  2025-09-20 14:39:45          19278        383  1.0
umuttuygurr/e-commerce-customer-behavior-and-sales-analysis-tr  E-Commerce Customer Behavior & Sales Analysis -TR  135KB  2025-10-29 13:58:22           1867         41  1.0
grandmaster07/student-exam-score-dataset-analysis               Student exam score dataset analysis                  2KB  2025-09-26 07:44:12          10743        229  1.0
ayeshaimran123/social-media-and-mental-health-balance           Social Media and Mental Health Balance               6KB  2025-10-26 07:51:53           2015         37  1.0
zahranusrat/lifestyle-and-health-risk-prediction-dataset        Lifestyle_and_Health_Risk_Prediction_Dataset        60KB  2025-10-23 05:42:43            478         21  1.0
sadiajavedd/students-academic-performance-dataset               Students_Academic_Performance_Dataset                9KB  2025-10-23 04:16:35           1114         28  1.0
brandmustafa/shopping-trends                                    Shopping Trends                                     70KB  2025-10-29 15:18:42            773         30  1.0
marixe/zara-sales-for-eda                                       Zara Sales for EDA üõçÔ∏è                              932KB  2025-10-26 12:40:24           1709         30  1.0
ayeshaimran123/data-science-student-marks                       Data Science Student Marks                           5KB  2025-10-09 08:22:41           2237         68  1.0
hqdataprofiler/cleaned-netflix-movies-and-tv-shows              Netflix Movies and TV Shows - CLEANED                1MB  2025-10-18 00:53:58           1132         29  1.0
willianoliveiragibin/using-linguistic-diversity-china           Using Linguistic Diversity China                   341KB  2025-10-04 19:58:03           1245        108  1.0
tan5577/heart-failure-dataset                                   Heart_Failure_Dataset                                9KB  2025-10-19 16:54:19           2015         45  1.0
krishd123/icc-womens-cricket-odi-world-cup                      üèèICC Women's Cricket ODI World Cup 2025üèÜ             3KB  2025-11-02 19:52:17            579         25  1.0
ahmadrazakashif/netflix-streaming-data                          Netflix_Streaming_Data                               1MB  2025-10-09 17:53:56           2203         43  1.0
ahmadrazakashif/shopping-behavior-dataset                       Shopping_Behavior_Dataset                           70KB  2025-10-08 16:19:06           3162         49  1.0
emanfatima2025/college-placement-analysis                       College Placement Analysis                         108KB  2025-10-10 16:46:43           1061         26  1.0

In [7]:
!kaggle datasets list -s "olist"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.7.4.2 / client 1.6.17)
ref                                                          title                                              size  lastUpdated          downloadCount  voteCount  usabilityRating
-----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
olistbr/brazilian-ecommerce                                  Brazilian E-Commerce Public Dataset by Olist       43MB  2021-10-01 19:08:27         397397       3755  1.0
olistbr/marketing-funnel-olist                               Marketing Funnel by Olist                         278KB  2018-11-16 14:00:20          17374        316  1.0
terencicp/e-commerce-dataset-by-olist-as-an-sqlite-database  E-commerce dataset by Olist (SQLite)               49MB  2024-04-28 14:56:35           8765         89  1.0
erak1006/brazilian-e-commerce-company-olist                  Brazilian e-commerce company: OLIST                43MB  2023-10-25 06:29:17           3682         12  1.0
gustavofelici/oliststar-boosting-customer-satisfaction       ‚ú® OlistStar: Boosting Customer Satisfaction! üíØüéØ     3MB  2023-06-18 14:38:09            197         12  1.0
npscul/olist-datasets                                        Olist Datasets                                     43MB  2022-05-11 16:29:58            257          5  0.1764706
datota/brazil-ecommerce-cleaned                              Brazil Olist E-commerce Cleaned Version            19MB  2022-03-06 16:22:50            283          9  0.85294116
fredericods/ptbr-sentiment-analysis-datasets                 Brazilian Portuguese Sentiment Analysis Datasets  877MB  2021-06-23 00:37:01           2557         36  0.47058824
enzoschitini/brazilian-e-commerce-public-dataset-by-olist    Brazilian E-Commerce Public Dataset by Olist       13MB  2024-04-19 17:49:40            388          5  0.9411765
davidspencer/persuade-rubric-holistic-essay-scoring          PERSUADE Rubric: Holistic Essay Scoring            79KB  2024-04-14 16:04:22             77          9  0.875
burayamail/brazilian-ecommerce-analyses-v2                   Brazilian_ecommerce_analyses_v2                    44MB  2024-11-03 23:16:56            676         14  0.9411765
mpwolke/cusersmarildownloadsdescriptors-json                 HolisticBias Descriptors                            4KB  2024-05-28 22:11:16             19          4  1.0
burayamail/brazilian-e-commerce                              Brazilian_E_Commerce                               44MB  2024-11-03 21:10:46            512          8  0.9411765
bhanuprasadchouki/olist-cleaned-files                        Olist Cleaned files for MYSQL Data Base            34MB  2024-08-04 09:00:19            241          2  0.7058824
jayeshsalunke101/brazilian-ecommerce-public-dataset          Brazilian E-Commerce Public Dataset                43MB  2021-04-22 11:28:00            845         15  0.5882353
mickaelnarboni/olist-clients-segmentation                    Olist - Clients Segmentation                       52MB  2022-03-04 12:54:46             92          2  0.1764706
mpwolke/cusersmarildownloads0000-parquet                     FairNLP/Holistic Bias                             181KB  2024-05-28 03:46:16              8          3  1.0
luiscfrancisco/olist-age                                     olist-age                                           2MB  2024-02-17 16:24:46             15          1  0.23529412
htrap94/adnuolist-analysis                                   adnu-olist analysis                                11MB  2019-12-05 11:37:33             39          1  0.29411766
sudhanshukumar50480/cleaned-brazilian-ecommerce-data         Cleaned_Brazilian_ECommerce_Data                   17MB  2025-05-27 09:48:20            109          6  0.7647059

In [8]:
# download the dataset
!kaggle datasets download -d olistbr/brazilian-ecommerce --unzip

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.7.4.2 / client 1.6.17)
Dataset URL: https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce
License(s): CC-BY-NC-SA-4.0
Downloading brazilian-ecommerce.zip to /Users/fatemehshahvirdi
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 42.6M/42.6M [00:43<00:00, 1.34MB/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 42.6M/42.6M [00:43<00:00, 1.02MB/s]

## 2. Import libraries

In [10]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
# Checking the present files in the directory
print(os.listdir())

['.config', 'Music', '.kaggle', '.condarc', 'olist_sellers_dataset.csv', 'Untitled1.ipynb', '.DS_Store', '.dbvis', 'product_category_name_translation.csv', '.CFUserTextEncoding', 'Udemy-backup.ipynb', '.xonshrc', 'anaconda_projects', 'Full Disk Access', '.zshrc', 'olist_orders_dataset.csv', '.psql_history', 'Pictures', 'Udemy.ipynb', 'Entertainment', 'olist_order_items_dataset.csv', '.zsh_history', 'Untitled2.ipynb', '.ipython', 'Desktop', 'Library', '.matplotlib', '.pgadmin', 'Public', '.tcshrc', 'olist_customers_dataset.csv', '.virtual_documents', '.anaconda', 'Movies', 'Applications', 'udemy_courses.csv', 'olist_geolocation_dataset.csv', '.Trash', 'olist_order_payments_dataset.csv', '.ipynb_checkpoints', '.jupyter', 'Documents', '.vscode', '.bash_profile', 'Photos', 'Work-Related', 'Brazilian E-Commerce Public Dataset by Olist.ipynb', 'Downloads', '.continuum', '.zsh_sessions', 'olist_order_reviews_dataset.csv', '.conda', 'olist_products_dataset.csv']

## 3. Download all related data sets

In [232]:
# Read the CSV files
df_olist_customers = pd.read_csv("olist_customers_dataset.csv")
df_olist_geolocation = pd.read_csv("olist_geolocation_dataset.csv")
df_olist_order_items = pd.read_csv("olist_order_items_dataset.csv")
df_olist_order_payments = pd.read_csv("olist_order_payments_dataset.csv")
df_olist_order_reviews = pd.read_csv("olist_order_reviews_dataset.csv")
df_olist_orders = pd.read_csv("olist_orders_dataset.csv")
df_olist_products = pd.read_csv("olist_products_dataset.csv")
df_olist_sellers = pd.read_csv("olist_sellers_dataset.csv")
df_olist_product_category_name = pd.read_csv("product_category_name_translation.csv")

## 4. Clean and explore all data sets before merging

### 4.1. Olist Customer Dataset

In [241]:
# Read the CSV file
df_olist_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

##### customer_id seems to be a unique identifier for each order (same person can have several), which can be used as a key to join with the other tables.
##### customer_unique_id seems to represent the actual customer (unique per person) that can be used for customer-level analysis, e.g., ‚Äúhow many returning customers.‚Äù

In [15]:
df_olist_customers.shape

(99441, 5)

In [16]:
df_olist_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [17]:
df_olist_customers.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [18]:
# checking for duplicates (customer_id should appear only once)
df_olist_customers.duplicated(subset= 'customer_id').sum()

0

In [19]:
# validate ID formats (all IDs should have the same length and be alphanumeric (hex_style) )
df_olist_customers['customer_id'].str.len().value_counts().head()
df_olist_customers['customer_unique_id'].str.len().value_counts().head()

customer_unique_id
32    99441
Name: count, dtype: int64

##### The length is the expected uniform 32

In [21]:
# Normalize the text columns (cities and states should be consistent)
df_olist_customers['customer_city']= (df_olist_customers['customer_city'].str.lower().str.strip())
df_olist_customers['customer_state']= (df_olist_customers['customer_state'].str.lower().str.strip())

In [22]:
# check postal codes for unrealistic values (Brazilian ZIP prefixes usually range roughly between 01000‚Äì99999)
df_olist_customers['customer_zip_code_prefix'].describe()

count    99441.000000
mean     35137.474583
std      29797.938996
min       1003.000000
25%      11347.000000
50%      24416.000000
75%      58900.000000
max      99990.000000
Name: customer_zip_code_prefix, dtype: float64

In [23]:
# Remove special characters or whitespace in text (they might cause merging issues later)
df_olist_customers= df_olist_customers.applymap(
    lambda x: x.strip() if isinstance(x, str) else x
)

/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_1631/2864326162.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_olist_customers= df_olist_customers.applymap(

### 4.2. Olist Geolocation Dataset

In [69]:
df_olist_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [65]:
df_olist_geolocation.shape

(1000163, 5)

##### Here are 1,000,163 rows, but not unique ZIP codes
##### That‚Äôs much larger than the customers dataset (99,441 rows).
##### This means each postal code appears many times with slightly different latitude and longitude values, because each postal prefix covers multiple locations (e.g., different buildings or streets in the same area).

In [76]:
df_olist_geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

##### No missing values at all, excellent for merging and mapping.
##### All data types make perfect sense.

In [81]:
df_olist_geolocation.duplicated().sum()

261831

##### The geolocation dataset is a reference table that maps ZIP code prefixes to geographic coordinates. It is not transactional data.
##### So, I decide to remove them

In [87]:
# Remove exact duplicates
df_olist_geolocation = df_olist_geolocation.drop_duplicates()

# Confirm result
print("Remaining duplicates:", df_olist_geolocation.duplicated().sum())
print("New shape:", df_olist_geolocation.shape)

Remaining duplicates: 0
New shape: (738332, 5)

In [97]:
# Standardize text columns
df_olist_geolocation.loc[:, 'geolocation_city'] = (
    df_olist_geolocation['geolocation_city'].str.strip().str.lower()
)

df_olist_geolocation.loc[:, 'geolocation_state'] = (
    df_olist_geolocation['geolocation_state'].str.strip().str.lower()
)

In [101]:
# validate latitude and longitude ranges
df_olist_geolocation[['geolocation_lat', 'geolocation_lng']].describe()

       geolocation_lat  geolocation_lng
count    738332.000000    738332.000000
mean        -20.998353       -46.461098
std           5.892315         4.393705
min         -36.605374      -101.466766
25%         -23.603061       -48.867822
50%         -22.873588       -46.647278
75%         -19.923336       -43.836974
max          45.065933       121.105394

##### Brazil‚Äôs approximate bounding box:
##### Latitude: ‚àí35 ‚â§ lat ‚â§ +5
##### Longitude: ‚àí75 ‚â§ lng ‚â§ ‚àí30
##### Everything outside that is invalid for Brazil, they are clearly a few outliers, but I am curius to find out how many.

In [106]:
invalid_coords = df_olist_geolocation.query(
    "geolocation_lat < -35 or geolocation_lat > 5 or geolocation_lng < -75 or geolocation_lng > -30"
)

print("Invalid coordinates:", len(invalid_coords))
print("Percentage of invalid rows:", round(len(invalid_coords) / len(df_olist_geolocation) * 100, 4), "%")

Invalid coordinates: 25
Percentage of invalid rows: 0.0034 %

##### I decide to remove them, but I want to see where they are, bacasue I am curius :D

In [109]:
invalid_coords[['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']].head(10)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
387565,18243,28.008978,-15.536867,bom retiro da esperanca,sp
513631,28165,41.614052,-8.411675,vila nova de campos,rj
513754,28155,42.439286,13.820214,santa maria,rj
514429,28333,38.381672,-6.328200,raposo,rj
516682,28595,43.684961,-7.411080,portela,rj
538512,29654,29.409252,-98.484121,santo ant√¥nio do cana√£,es
538557,29654,21.657547,-101.466766,santo antonio do canaa,es
585242,35179,25.995203,-98.078544,santana do para√≠so,mg
585260,35179,25.995245,-98.078533,santana do paraiso,mg
695377,45936,38.323939,-6.775035,itabatan,ba

##### This inspection of invalid rows revealed latitude and longitude values located far outside Brazil (e.g. Europe, North America, and Asia) despite Brazilian city names.
##### These were likely geocoding mismatches or input errors, so I remove them.

In [113]:
df_olist_geolocation = df_olist_geolocation.query(
    "-35 <= geolocation_lat <= 5 and -75 <= geolocation_lng <= -30"
)
print("‚úÖ Removed 25 invalid coordinate rows.")
print("New shape:", df_olist_geolocation.shape)

‚úÖ Removed 25 invalid coordinate rows.
New shape: (738307, 5)

### 4.3. Olist Order Items Dataset

In [117]:
df_olist_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [121]:
df_olist_order_items.shape

(112650, 7)

In [123]:
df_olist_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [125]:
df_olist_order_items.describe()

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

### Observations from order_items dataset
#### Dataset Overview
##### 112,650 product records across 7 columns.
##### Each row represents one product within an order (one line item).

#### Expected columns:
##### order_id ‚Üí unique ID of the order (links to orders dataset).
##### order_item_id ‚Üí position of the product within the order.
##### product_id ‚Üí product identifier.
##### seller_id ‚Üí seller of the product.
##### shipping_limit_date ‚Üí deadline for the seller to ship.
##### price ‚Üí product price in BRL.
##### freight_value ‚Üí shipping cost charged to the customer.

#### Data Quality Insights
##### No missing values ‚Äî all columns have 112,650 non-null entries.
##### Data types are mostly correct:
##### Numeric columns (price, freight_value, order_item_id) ‚Üí already numeric.
##### Date column (shipping_limit_date) ‚Üí stored as object and needs conversion to datetime.
##### order_item_id ranges from 1 to 21 ‚Üí some orders have multiple products.
##### Prices and freight values are realistic but vary widely (some high-value outliers).

#### Dataset is internally consistent and ready for analysis after small type adjustments.

#### Cleaning Steps:

In [129]:
df_olist_order_items.duplicated().sum()

0

In [133]:
# Convert shipping_limit_date from string (object) to proper datetime format
df_olist_order_items['shipping_limit_date'] = pd.to_datetime(df_olist_order_items['shipping_limit_date'])

In [137]:
# Verify data types again
df_olist_order_items.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [139]:
# Inspect numeric ranges for potential outliers
df_olist_order_items[['price', 'freight_value']].describe()

               price  freight_value
count  112650.000000  112650.000000
mean      120.653739      19.990320
std       183.633928      15.806405
min         0.850000       0.000000
25%        39.900000      13.080000
50%        74.990000      16.260000
75%       134.900000      21.150000
max      6735.000000     409.680000

##### The numeric columns are healthy and reliable; the wide range simply reflects the diversity of products and shipping distances in the Olist marketplace.
##### Outliers are realistic high-end transactions, not data errors.

### 4.4. Olist Order Payments Dataset

In [144]:
df_olist_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [148]:
df_olist_order_payments.shape

(103886, 5)

In [150]:
df_olist_order_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [154]:
df_olist_order_payments.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [158]:
# Check duplicates
df_olist_order_payments.duplicated().sum()

# Check payment types
df_olist_order_payments['payment_type'].value_counts()

payment_type
credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: count, dtype: int64

In [166]:
# Check potential invalid (0) payments
df_olist_order_payments.query("payment_value == 0").shape[0]

9

##### I‚Äôm keeping the 9 zero-value payments because they‚Äôre rare (~0.009%), likely valid voucher or promo cases, and don‚Äôt affect data quality. They‚Äôll be excluded only in revenue analyses if needed.

### Observations from order_payments dataset
#### Dataset Overview

##### Shape: (103,886, 5) ‚Üí each row represents a single payment transaction.

##### Columns:
##### order_id ‚Üí links payments to orders.
##### payment_sequential ‚Üí sequence number for multiple payments on the same order.
##### payment_type ‚Üí method used (credit_card, boleto, voucher, etc.).
##### payment_installments ‚Üí number of installments chosen by the customer.
##### payment_value ‚Üí total amount of that specific payment (in BRL).

#### Data Quality Insights
##### No missing values ‚Äî all columns are fully populated.
##### Data types are correct (int, float, object).
##### Payment types are dominated by credit_card (~74%), followed by boleto, voucher, and debit_card.
##### Zero-value payments: only 9 rows (~0.009%), likely vouchers or promos ‚Äî will be kept.

#### Numeric ranges are realistic:
##### payment_installments range 0‚Äì24 (mean ‚âà 3).
##### payment_value range 0‚Äì13,664 BRL (wide spread but plausible for e-commerce).

#### Overall, the dataset is clean and consistent ‚Äî ready for merging after minor validation.

### 4.5. Olist Order Reviews Dataset

In [173]:
df_olist_order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parab√©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [177]:
df_olist_order_reviews.shape

(99224, 7)

In [181]:
df_olist_order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [185]:
df_olist_order_reviews.describe()

       review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [187]:
# Check duplicates
df_olist_order_reviews.duplicated().sum()

0

In [199]:
#Convert date columns to datetime format
df_olist_order_reviews['review_creation_date'] = pd.to_datetime(df_olist_order_reviews['review_creation_date'])
df_olist_order_reviews['review_answer_timestamp'] = pd.to_datetime(df_olist_order_reviews['review_answer_timestamp'])

In [195]:
#Validate review scores
df_olist_order_reviews['review_score'].between(1,5).all()

True

### Observations from order_reviews dataset
#### Dataset Overview
##### Shape: (99,224, 7) ‚Üí each row represents a single customer review for an order.

##### Columns:
##### review_id ‚Üí unique identifier for each review.
##### order_id ‚Üí connects review to the corresponding order.
##### review_score ‚Üí rating from 1 to 5 stars.
##### review_comment_title ‚Üí short title (optional).
##### review_comment_message ‚Üí detailed comment (optional).
##### review_creation_date ‚Üí date the review was created.
##### review_answer_timestamp ‚Üí date/time when it was processed by the system.

#### Data Quality Insights
##### No missing values in key columns (review_id, order_id, review_score, and both dates).

#### Missing text fields:
##### review_comment_title: only about 12% of customers added a short title to their review ‚Äî most skipped this optional field, which is common in online feedback.
##### review_comment_message: ~41% filled ‚Äî common for short reviews.

#### Review scores: all within the valid range (1‚Äì5).
##### Mean = 4.09, Median = 5 ‚Üí customers are generally satisfied.

#### Data types: dates are stored as object and need conversion to datetime.

##### Overall, the dataset is clean and consistent ‚Äî perfect for merging with orders later to analyze satisfaction and delivery performance.

### 4.6. Olist Orders Dataset

In [204]:
df_olist_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [208]:
df_olist_orders.shape

(99441, 8)

In [212]:
df_olist_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [214]:
df_olist_orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522